.popular {
    .header {
        width: minmax(100%, 1000px);
        height: 0px;
        padding-top: 28.13%;
        padding-bottom: 28.13%;

        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: white;
            font-size: 5rem;
            
            padding: 1.5rem;
            background-color: rgba(0,0,0,0.5);
            border: solid 0.66rem white;
        }
    }
    width: 100%;
    .form {
        width: 66%;
        margin-left:16.66665%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        h1 {
            font-size: 2.5rem;
        }

        /*input {
            width: 20%;
            margin: 1rem;
            padding: 0.5rem;
            text-align: center;
        }*/
    }
    
    .movies {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
        gap: 1rem;
        margin: 1rem;
    }
}